.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #960856;
}
.box {
    width: 600px;
    height: 500px;
    padding: 20px;
    background-color: #650239;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:white;
}
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%; 
}
.form-group {
    display: flex;
    align-items: center;
    width: 60%;
    margin-bottom: 10px;
    text-align: left;
}
.form-group label {
    flex: 2;
    font-weight: bold;
    margin-right: 10px;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
select {
    flex: 2;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}
.form-group input[type="radio"] {
    flex: 0.2;
}
button#register {
    background-color: #fdfefe;
    color: #080808;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 60%;
    align-self: center;
    margin-top: 10px;
    font-weight: bold;
}
button#register:hover {
    opacity: 1;
}





